/*------- Go Deeper -------*/

@keyframes currentToLeft {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@-webkit-keyframes currentToLeft {
    0%   { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes rightToCurrent {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@-webkit-keyframes rightToCurrent {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0); }
}
/*------- Go Back -------*/

@keyframes leftToCurrent {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
@-webkit-keyframes leftToCurrent {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0); }
}

@keyframes currentToRight {
    0%   { transform: translateX(0); }
    100% { transform: translateX(100%); }
}
@-webkit-keyframes currentToRight {
    0%   { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(100%); }
}

/* Show app */
@keyframes fadeIn {
    0%   { transform: scale(0.1); opacity: 0; }
    100% { transform: scale(1.0); opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%   { -webkit-transform: scale(0.1); opacity: 0; }
    100% { -webkit-transform: scale(1.0); opacity: 1; }
}

@keyframes fadeOut {
    0%   { transform: scale(1.0); opacity: 1; }
    100% { transform: scale(0.1); opacity: 0; }
}
@-webkit-keyframes fadeOut {
    0%   { -webkit-transform: scale(1.0); opacity: 1; }
    100% { -webkit-transform: scale(0.1); opacity: 0; }
}
